@media screen and (max-width:768px){
.logo a img{
		width: 40px;
		height: 40px;
}
.logo{
	position:absolute;
	top:0;
	left: 0;
	padding:10px 0 0 20px ;
	float:none;
}
.logo2{
	display:none;
}
nav{
	width:100%;
}
#menu{
	width:100%;
}
#menu ul{
	width:100%;
	display:none;
}
#menu ul li{
	width:100%;
}
#menu ul ul li,#menu li:hover > ul > li{
	height:auto;
}
#menu ul li a,#menu ul ul li a{
	padding:17px 12px;
	width:100%;
	border-bottom:0;
}
#menu > ul > li{
	float:none;
}
#menu ul ul li a{
	padding-left:25px;
}
#menu ul ul li{
	background:#2cabe2!important;
}
#menu ul ul ul li a{
	padding-left:35px;
}
#menu ul ul li a{
	color:#ebebeb;
	background:none;
}
#menu ul ul,#menu ul ul ul{
	position:relative;
	left:0;
	width:100%;
	margin:0;
	text-align:left;
}
#menu > ul > li.has-sub > a:after,#menu > ul > li.has-sub > a:before,#menu ul ul > li.has-sub > a:after,#menu ul ul > li.has-sub > a:before{
	display:none;
}
#menu #head-mobile{
	display:block;
	padding:30px;
	color:#ebebeb;
	font-size:12px;
	font-weight:700;
}
.button{
	width:55px;
	height:46px;
	position:absolute;
	right:2px;
	top:6px;
	cursor:pointer;
	z-index: 12399994;
}
.button:after{
	position:absolute;
	top:23px;
	right:20px;
	display:block;
	height:4px;
	width:20px;
	border-top:3px solid #ffffff;
	border-bottom:3px solid #ffffff;
	content:'';
}
.button:before{
	-webkit-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
	position:absolute;
	top:16px;
	right:20px;
	display:block;
	height:3px;
	width:20px;
	background:#fff;
	content:'';
}
.button.menu-opened:after{
	-webkit-transition:all .3s ease;
	-ms-transition:all .3s ease;
	transition:all .3s ease;
	top:23px;
	border:0;
	height:3px;
	width:19px;
	background:#fff;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}
.button.menu-opened:before{
	top:23px;background:#fff;
	width:19px;
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
#menu .submenu-button{
	position:absolute;
	z-index:99;
	right:0;
	top:0;
	display:block;
	height:46px;
	width:46px;
	cursor:pointer;
}
#menu ul ul .submenu-button{
	height:34px;
	width:34px;
}
#menu .submenu-button:after{
	position:absolute;
	top:22px;
	right:19px;
	width:8px;
	height:2px;
	display:block;
	background:#ebebeb;
	content:'';
}
#menu ul ul .submenu-button:after{
	top:15px;
	right:13px;
}
#menu .submenu-button.submenu-opened:after{
	background:#fff;
}
#menu .submenu-button:before{
	position:absolute;
	top:19px;
	right:22px;
	display:block;
	width:2px;
	height:8px;
	background:#ebebeb;
	content:'';
}
#menu ul ul .submenu-button:before{
	top:12px;
	right:16px;
}
#menu .submenu-button.submenu-opened:before{
	display:none;
}
#menu ul ul ul li.active a{
	border-left:none;
}
#menu > ul > li.has-sub > ul > li.active > a,#menu > ul ul > li.has-sub > ul > li.active > a{
	border-top:none;
}
.logo-leptops img{
	margin-top: 100px;
}
#row-top .col-6{
	width: 100%;
}
.call, .email, .follow{
	margin: 5px 20px;
	text-align: center;
}
.email{
	margin-left: 20;
}
.follow{
	float: none;
}
.call{
	margin-top: 40px;
}
.row-left{
	float: left;
	margin-left: 0;
	margin-top: 0;
}
.i-1{
	letter-spacing: 1px;
	color: #ebebeb ;
	font-weight: bold;
	font-size: 0.9em;
	font-family: "Roboto-Thin";
	text-decoration: none;
}
.i-2{
	font-family: "Roboto-Medium";
	color: white;
}
.fa-phone, .fa-envelope{
	color: white;
	background-color: #2cabe2;
	padding: 7px;
	border-radius: 4px;
}
.i-3{
	font-family:sans-serif;
	color: #2cabe2;
	cursor: pointer;
}
.fa-twitter, .fa-facebook{
	cursor: pointer;
	padding-left: 20px;
	font-size: 30px;
	color: #ebebeb;
}
.follow i{
	font-size: 20px;
}
.follow i:hover{
	color: #2cabe2;
}
}